h1 {
    font-family: g-Semibold;
    text-align: center;
    font-size: var(--font-size50);
    padding: 5vw 0;
}
.wrapper_offers_industry {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 5vw;
}
.wrapper_offers_oil_industry {
    justify-content: start;
}
.industry_offer {
    width: 24.5%;
    height: 19.47vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-family: g-Semibold;
    font-size: var(--font-size24);
    background-size: 100% 100%;
    margin-bottom: 1vw;
    padding: 0 2%;
}
.wrapper_offers_oil_industry .industry_offer {
    margin-right: .6%;
    margin-bottom: .6%;
}
.wrapper_offers_oil_industry .industry_offer:nth-child(4) {
    margin-right: 0;
}
.wrapper_offers_oil_industry .industry_offer:nth-child(8) {
    margin-right: 0;
}
.industry_offer1 {
    background-image: url(../img/industry/1.png);
}
.industry_offer2 {
    background-image: url(../img/industry/2.png);
}
.industry_offer3 {
    background-image: url(../img/industry/3.png);
}
.industry_offer4 {
    background-image: url(../img/industry/4.png);
}
.industry_offer5 {
    background-image: url(../img/industry/5.png);
}
.industry_offer6 {
    background-image: url(../img/industry/6.png);
}
.industry_offer7 {
    background-image: url(../img/industry/7.png);
}
.industry_offer8 {
    background-image: url(../img/industry/8.png);
}
.industry_offer9 {
    background-image: url(../img/industry/9.png);
}

@media (max-width: 960px) {
    h1 {
        font-size: var(--font-size24_mob);
        padding: 8vw 0;
        letter-spacing: 1px;
        
    }
    .wrapper_offers_industry {
        display: flex;
        flex-wrap: wrap;
    }
    .industry_offer {
        width: 100%;
        height: 58.6vw;
        font-size: var(--font-size20_mob);
        margin-bottom: 2vw;
    }
    .wrapper_offers_oil_industry .industry_offer {
        margin-right: 0;
        margin-bottom: 1vw;
    }
}

.wrapper_h2_industry {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-top: 5vw;
}
.wrapper_h2_industry h2 {
    font-family: g-Semibold;
    font-size: var(--font-size56);
}
.wrapper_h2_industry p {
    font-size: var(--font-size24);
}
.smart_stop {
    margin-top: .5vw;
    display: flex;
    justify-content: space-between;
}
.smart_stop__img {
    width: 39%;
}
.smart_stop__img img {
    width: 100%;
    display: block;
}
.smart_stop__text {
    width: 60.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.smart_stop__text__block1 {
    padding: var(--padding-32);
    border-radius: 20px;
    border: 1px solid var(--color-300grey);
    background-color: var(--color-100grey);
    font-size: var(--font-size24);
}
.smart_stop__text__block2 {
    padding: var(--padding-32);
    border-radius: 20px;
    border: 1px solid var(--color-300grey);
    background-color: var(--color-pure_white);
}
.smart_stop__text__block2__elem1 {
    display: flex;
    align-items: center;
    font-size: var(--font-size20);
}
.round_red {
    width: 1.25vw;
    height: 1.25vw;
    border-radius: 50%;
    background-color: var(--color-300primary);
    margin-right: .75vw;
}
.smart_stop__text__block2__elem2 {
    margin: var(--padding-32) 0;
}
.smart_stop__text__block2__elem2 p,
.smart_stop__text__block2__elem3 p {
    font-size: var(--font-size24);
}
@media (max-width: 960px){
    .wrapper_h2_industry {
        display: block;
        margin-top: 5vw;
    }
    .wrapper_h2_industry h2 {
        font-size: var(--font-size24_mob);
    }
    .wrapper_h2_industry p {
        font-size: var(--font-size16_mob);
        margin-top: 2vw;
        width: 65%;
    }
    .smart_stop {
        margin-top: 2vw;
        display: flex;
        justify-content: start;
        flex-direction: column;
    }
    .smart_stop__img {
        width: 100%;
    }
    .smart_stop__text {
        width: 100%;
        display: block;
    }
    .smart_stop__text__block1 {
        margin-top: 2vw;
        padding: var(--padding-24_mob);
        border-radius: 16px;
        font-size: var(--font-size16_mob);
    }
    .smart_stop__text__block2 {
        margin-top: 2vw;
        padding: var(--padding-24_mob);
        border-radius: 16px;
    }
    .smart_stop__text__block2__elem1 {
        font-size: var(--font-size16_mob);
    }
    .round_red {
        width: 5.45vw;
        height: 5.45vw;
        margin-right: 2.75vw;
    }
    .smart_stop__text__block2__elem2 {
        margin: var(--padding-24_mob) 0;
    }
    .smart_stop__text__block2__elem2 p,
    .smart_stop__text__block2__elem3 p {
        font-size: var(--font-size16_mob);
    }
}


.smart_stop__img1 {
    width: 40%;
}
.smart_stop__img1 img {
    display: block;
    width: 100%;
}
.smart_stop__text1 {
    width: 59.5%;
    border-radius: 24px;
    padding: var(--padding-32);
    border: 1px solid var(--color-400grey);
    background-color: var(--color-100grey);
}
.smart_stop__text1 > article {
    font-family: g-Semibold;
    font-size: var(--font-size40);
    margin-bottom: 1vw;
}
.smart_stop__text1__elem {
    display: flex;
    align-items: center;
    padding: 1.05vw;
    border-bottom: 1px solid var(--color-400grey);
}
.smart_stop__text1__elem:nth-child(2) {
    border-top: 1px solid var(--color-400grey);
}
.smart_stop__text1__elem p {
    width: 7vw;
    font-family: g-medium;
    font-size: var(--font-size32);
}

.smart_stop__text1__elem article {
    font-size: var(--font-size20);
}
@media (max-width: 960px) {
    .smart_stop__img1 {
        width: 100%;
        order: -2;
    }
    .smart_stop__text1 {
        margin-top: 2vw;
        order: -1;
        width: 100%;
        border-radius: 12px;
        padding: var(--padding-24_mob);
    }
    .smart_stop__text1 > article {
        font-size: var(--font-size24_mob);
        margin-bottom: 3vw;
    }
    .smart_stop__text1__elem {
        padding: 3vw;
    }
    .smart_stop__text1__elem:nth-child(2) {
        border-top: 1px solid var(--color-400grey);
    }
    .smart_stop__text1__elem p {
        width: 11vw;
        font-size: var(--font-size24_mob);
    }

    .smart_stop__text1__elem article {
        font-size: var(--font-size16_mob);
    }
}

.wrapper_h2_industry__tran {
    align-items: flex-end;
}
.wrapper_h2_industry__tran h2 {
    width: 59%;
}
.wrapper_transport1 {
    margin-top: .5vw;
    display: flex;
    justify-content: space-between;
}
.wrapper_transport1__left {
    width: 36%;
    display: flex;
    flex-direction: column;
}
.wrapper_transport1__left__block {
    border: 1px solid var(--color-300grey);
    background-color: var(--color-pure_white);
    border-radius: 16px;
    padding: var(--padding-32);
    font-size: var(--font-size24);
}
.wrapper_transport1__left__img {
    margin-top: .5vw;
}
.wrapper_transport1__left__img img {
    display: block;
    margin: 0;
    width: 100%;
}
.wrapper_transport1__right {
    width: 63%;
}
.wrapper_transport1__right__elem {
    display: flex;
    align-items: center;
    background-color: var(--color-pure_white);
    border-radius: 20px;
    padding: var(--padding-32);
    font-size: var(--font-size24);
    margin-bottom: .8vw;
}
.wrapper_transport1__right__elem:last-child {
    margin-bottom: 0vw;
}
.wrapper_transport1__right__elem img {
    display: block;
    width: .75vw;
    margin-top: .25vw;
    margin-right: .75vw;
}

@media (max-width: 960px) {
    .wrapper_h2_industry__tran h2 {
        width: 100%;
    }
    .wrapper_transport1 {
        margin-top: 2vw;
        display: block;
        justify-content: flex-start;
    }
    .wrapper_transport1__left {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .wrapper_transport1__left__block {
        order: -1;
        margin-top: 2vw;
        border: 1px solid var(--color-300grey);
        background-color: var(--color-100grey);
        border-radius: 14px;
        padding: var(--padding-24_mob);
        font-size: var(--font-size16_mob);
    }
    .wrapper_transport1__left__img {
        order: -2;
        margin-top: 0vw;
    }
    .wrapper_transport1__right {
        width: 100%;
    }
    .wrapper_transport1__right__elem {
        border-radius: 14px;
        padding: var(--padding-24_mob);
        font-size: var(--font-size16_mob);
        margin-bottom: 2vw;
    }
    .wrapper_transport1__right__elem img {
        display: block;
        width: 3.1vw;
        margin-top: .75vw;
        margin-right: 2vw;
    }
}



.transport_block {
    margin: .5vw 0;
    padding: var(--padding-32);
    border-radius: 20px;
    background-color: var(--color-pure_white);
}
.transport_block__elem1 {
    display: flex;
    align-items: center;
    font-size: var(--font-size24);
}
.transport_block__elem2 {
    margin-top: 5vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.transport_block__elem2 article {
    font-family: g-Semibold;
    font-size: var(--font-size56);
}
.transport_block__elem2 p {
    font-family: g-medium;
    font-size: var(--font-size24);
}
@media (max-width: 960px) {
    .transport_block {
        margin: 2vw 0;
        padding: var(--padding-24_mob);
        border-radius: 14px;
    }
    .transport_block__elem1 {
        font-size: var(--font-size16_mob);
    }
    .transport_block__elem2 {
        margin-top: 7vw;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    .transport_block__elem2 article {
        font-size: var(--font-size24_mob);
    }
    .transport_block__elem2 p {
        display: none;
    }
}



.wrapper_transport2 {
    display: flex;
    justify-content: space-between;
}
.wrapper_transport2__img {
    width: 55%;
}
.wrapper_transport2__img img {
    display: block;
    margin: 0;
    width: 100%;
}
.wrapper_transport2__text {
    width: 44%;
    padding: var(--padding-32);
    border-radius: 20px;
    background-color: var(--color-pure_white);
}
.wrapper_transport2__text__elem {
    display: flex;
    align-items: center;
    font-size: var(--font-size20);
    padding-bottom: var(--padding-32);
}
.round_red_small {
    width: 1.25vw;
    height: 1.25vw;
    border-radius: 50%;
    background-color: var(--color-300primary);
    margin-right: 1.25vw;
}
.wrapper_transport2__text p {
    font-size: var(--font-size24);
}
@media (max-width: 960px) {
    .wrapper_transport2 {
        display: block;
    }
    .wrapper_transport2__img {
        width: 100%;
    }
    .wrapper_transport2__text {
        margin-top: 2vw;
        width: 100%;
        padding: var(--padding-24_mob);
    }
    .wrapper_transport2__text__elem {
        display: flex;
        align-items: center;
        font-size: var(--font-size16_mob);
        padding-bottom: var(--padding-24_mob);
    }
    .round_red_small {
        width: 5.45vw;
        height: 5.45vw;
        margin-right: 2.8vw;
    }
    .wrapper_transport2__text p {
        font-size: var(--font-size16_mob);
    }
}

.wrapper_transport3 {
    margin-top: .5vw;
    display: flex;
    justify-content: space-between;
}
.wrapper_transport3__img {
    width: 44%;
}
.wrapper_transport3__img img {
    display: block;
    margin: 0;
    width: 100%;
}
.wrapper_transport3__text {
    width: 55%;
    padding: var(--padding-32);
    border-radius: 20px;
    background-color: var(--color-pure_white);
}
.wrapper_transport3__text > p {
    margin-bottom: 2vw;
    font-family: g-Semibold;
    font-size: var(--font-size40);
}
.wrapper_transport3__text > article {
    margin-top: 2vw;
    font-size: var(--font-size24);
}

.wrapper_transport3__text__elem {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--color-400grey);
    padding: 1.7vw var(--padding-24);
}
.wrapper_transport3__text__elem:nth-child(2) {
    border-top: 1px solid var(--color-400grey);
}
.wrapper_transport3__text__elem p {
    font-family: g-medium; 
    font-size: var(--font-size32);
    width: 7vw;
}
.wrapper_transport3__text__elem article {
    font-size: var(--font-size20);
    width: calc(100% - 7vw);
}

@media (max-width: 960px) {
    .wrapper_transport3 {
        margin-top: 2vw;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }
    .wrapper_transport3__img {
        width: 100%;
        order: -2;
    }
    .wrapper_transport3__text {
        margin-top: 2vw;
        order: -1;
        width: 100%;
        padding: var(--padding-24_mob);
        border-radius: 13px;
    }
    .wrapper_transport3__text > p {
        margin-bottom: 5vw;
        font-size: var(--font-size24_mob);
    }
    .wrapper_transport3__text > article {
        margin-top: 5vw;
        font-size: var(--font-size16_mob);
    }
    .wrapper_transport3__text__elem {
        padding: 3vw var(--padding-24_mob);
    }
    .wrapper_transport3__text__elem p {
        font-size: var(--font-size24_mob );
        width: 11vw;
    }
    .wrapper_transport3__text__elem article {
        font-size: var(--font-size16_mob);
        width: calc(100% - 11vw);
    }
}
