.wrapper_h2_product {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-top: 5vw;
}
.wrapper_h2_product h2 {
    font-family: g-Semibold;
    font-size: var(--font-size56);
}
.wrapper_h2_product p {
    font-size: var(--font-size24);
}
@media (max-width: 960px){
    .wrapper_h2_product {
        display: block;
        margin-top: 5vw;
    }
    .wrapper_h2_product h2 {
        font-size: var(--font-size24_mob);
    }
    .wrapper_h2_product p {
        font-size: var(--font-size16_mob);
        margin-top: 2vw;
        width: 65%;
    }
}

.all_wrapper_modul {
    padding: 0 .5vw;
}
@media (max-width: 960px){
        .all_wrapper_modul {
        padding: 0 1.2vw;
    }
}
.mmb_carusel {
    margin-top: .5vw;
}
.wrapper_carusel {
    width: 100%;
    overflow-x: hidden;
}
.carusel_line {
    display: flex;
    width: max-content;
    margin-left: 0;
    transition: .2s;
}
.carusel__elem {
    width: 49.25vw;
    border-radius: 20px;
    overflow: hidden;   
}
.carusel__elem:not(:first-child) {
    margin-left: .5vw;
}
.carusel__elem img {
    display: block;
    margin: 0;
    width: 100%;
}

.carusel_nav {
    width: 250px;
    margin: auto;
    padding-top: 1vw;
}
.carusel_nav__slaid_bar {
    position: relative;
    height: .5vw;
    background-color: var(--color-300grey);
    border-radius: 20px;
}
.slaid_bar__elem {
    position: absolute;
    width: 0%;
    height: .5vw;
    top: 0;
    left: 0;
    border-radius: 20px;
    background-color: var(--color-600grey);
    z-index: 3;
    transition: .2s;
}
.carusel_nav__btns {
    padding-top: 1vw;
    display: flex;
    justify-content: center;
}
.carusel_nav__btns img {
    width: 2.44vw;
    height: 2.44vw;
    display: block;
    margin: 0 .5vw;
    cursor: pointer;
}
.carusel_nav__btns img:last-child {
    transform: rotate(180deg);
}

@media (max-width: 960px){
    .mmb_carusel {
        margin-top: 2vw;
    }
    .wrapper_carusel {
        width: 100%;
        overflow-x: hidden;
    }
    .carusel_line {
        display: flex;
        width: max-content;
        margin-left: 0;
        transition: .2s;
    }
    .carusel__elem {
        width: 97.6vw;
        border-radius: 14px;
        overflow: hidden;   
    }
    .carusel__elem:not(:first-child) {
        margin-left: 0vw;
    }
    .carusel_nav {
        width: 90%;
        margin: auto;
        padding-top: 2vw;
    }
    .carusel_nav__btns {
        display: none;
    }
}


.mobile_block_article {
    display: none;
}
h3 {
    font-family: g-Semibold;
    font-size: var(--font-size50);
    text-align: center;
    margin: 2vw 0
}
.wrapper_complectation {
    display: flex;
    justify-content: space-between;
}
.complectation__img {
    width: 43.5%;
}
.complectation__img img {
    width: 100%;
    display: block;
    margin: 0;
}
.complectation__text {
    width: 56%;
    background-color: var(--color-pure_white);
    border-radius: 24px;
    padding: var(--padding-32);
}
.table_mobile_block > article {
    font-family: g-Semibold;
    font-size: var(--font-size24);
}
.table_red,.table_drop {
    display: none;
}
.table_name {
    margin-top: 2vw;
    border-radius: 14px;
    background-color: var(--color-500primary);
    padding: var(--padding-16) var(--padding-32);
    color: var(--color-pure_white);
    display: flex;
    justify-content: space-between;
    font-size: var(--font-size16);
}
.table_elem {
    display: flex;
    justify-content: space-between;
    padding: var(--padding-10) var(--padding-32);
    border-bottom: 1px solid var(--color-300grey);
    font-size: var(--font-size16);
}
.table_name p, .table_elem p {
    width: 33.3%;
}
.mobile_version_img {
    display: none;
}
.mb {
    display: none;
}
@media (max-width: 960px){
    .mobile_block_article {
        margin: 2vw 0;
        display: block;
        border-radius: 20px;
        border: 1px solid var(--color-300grey);
        padding: var(--padding-24_mob);
        font-size: var(--font-size16_mob);
    }
    h3 {
        display: none;
    }
    .wrapper_complectation {
        display: block;
    }
    .complectation__img {
        display: none;
    }
    .complectation__text {
        width: 100%;
        background-color: var(--color-pure_white);
        border-radius: 14px;
        padding: var(--padding-24_mob);
    }
    .table_mobile_block {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .table_mobile_block > article {
        font-size: var(--font-size20_mob);
        width: calc(100% - 15vw);
    }
    .table_red {
        display: block;
        width: 3.63vw;
        height: 3.63vw;
        border-radius: 50%;
        background-color: var(--color-300primary);
    }
    .table_drop {
        display: block;
        width: 3.63vw;
        height: 3.63vw;
    }
    .table_name {
        display: none;
    }
    .table_elem {
        display: none;
        padding: 0;
        border-bottom: none;
        font-size: var(--font-size16_mob);
        margin-bottom: 2vw;
    }
    .mb {
        display: block;
    }
    .table_elem p {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: var(--padding-10_mob);
        background-color: var(--color-100grey);
    }
    .table_elem p:nth-child(2) {
        background-color: var(--color-200grey);
    }
    .table_elem p.poor_block {
        background-color: transparent;
    }
    .mobile_version_img {
        display: none;
        width: 100%;
        margin: 5vw 0 3vw; 
    }
    .complectation__text.active .mobile_version_img {
        display: block;
    }
    .complectation__text.active .table_elem {
        display: block;
    }
    .complectation__text.active .table_drop {
        transform: rotate(180deg);
        transition: .2s;
    }
}

.wrapper_accordeons {
    margin: 7vw 0; 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.accordeons__block {
    width: 49.75%;
}
.accordeon_elem {
    font-size: var(--font-size24);
    margin-bottom: .5vw;
}
.accordeon_elem__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    padding: var(--padding-32) var(--padding-24);
    background-color: var(--color-400primary);
    color: var(--color-pure_white);
    font-family: g-Semibold;
}
.accordeon_elem__top img {
    width: 0.8vw;
    height: 0.8vw;
}
.accordeon_elem__top__body {
    display: none;
    margin: .5vw 0;
    border-radius: 20px;
    padding: var(--padding-32);
    background-color: transparent;
    border: 2px solid var(--color-400primary);
}
.accordeon_elem.active .accordeon_elem__top__body {
    display: block;
} 
.accordeon_elem.active .accordeon_elem__top img {
    transform: rotate(-90deg);
    transition: .2s;
}
.accordeon_elem__top__body p {
    margin-bottom: .5vw;
}
.acc_mobile_block {
    display: none;
}
@media (max-width: 960px){
    .acc_mobile_block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: var(--padding-24_mob);
    }
    .acc_mobile_block > article{
        font-size: var(--font-size20_mob);
        width: calc(100% - 15vw);
        font-family: g-Semibold;
    }
    .wrapper_accordeons {
        margin-top: 2vw;
        display: block;
        border-radius: 14px;
        background-color: var(--color-pure_white);
    }
    .accordeons__block {
        display: none;
    }
    .wrapper_accordeons.active .accordeons__block {
        display: block;
    }

    .accordeons__block {
        width: 100%;
    }
    .accordeon_elem {
        font-size: var(--font-size16_mob);
        margin: 2vw 0;
    }
    .accordeon_elem__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 14px;
        padding: var(--padding-24_mob);
        background-color: var(--color-pure_white);
        border: 1px solid var(--color-300grey);
        color: var(--color-text);
        font-family: g-reg;
    }
    .accordeon_elem__top img {
        filter: invert(58%) sepia(2%) saturate(19%) hue-rotate(61deg) brightness(94%) contrast(79%);
        width:3.63vw;
        height:3.63vw;
    }
    .accordeon_elem__top__body {
        display: none;
        margin: .5vw 0;
        border-radius: 14px;
        padding: var(--padding-24_mob);
        background-color: transparent;
        border: 1px solid var(--color-300grey);
    }
    .accordeon_elem.active .accordeon_elem__top__body {
        display: block;
    } 
    .accordeon_elem.active .accordeon_elem__top img {
        transform: rotate(-90deg);
        transition: .2s;
    }
    .accordeon_elem__top__body p {
        margin-bottom: 1vw;
    }
    .wrapper_accordeons.active .table_drop {
        transform: rotate(180deg);
        transition: .2s;
    }
}

.wrapper_over_modul {
    display: flex;
    justify-content: space-between;
}
.wrapper_over_modul a {
    display: block;
    width: 49.75%;
}
.over_modul {   
    border-radius: 24px;
    background-color: var(--color-300primary);
    color: var(--color-pure_white);
    padding: var(--padding-32);
    padding-bottom: 7vw;
}
.over_modul63 {
    background-color: var(--color-600primary);
}
.modul_card__top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.modul_card__top_left p {
    font-size: var(--font-size20);
}
.modul_card__top_left article {
    font-family: g-Semibold;
    font-size: 3.64vw;
}
.modul_card__top_right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
}
.modul_card__top_right p {
    font-size: var(--font-size20);
}
.modul_card__top_right__img {
    width: 2.4vw;
    height: 2.4vw;
    border-radius: 50%;
    margin-left: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid var(--color-pure_white);
}
.modul_card__top_right__img img {
    display: block;
    margin: auto;
    width: 40%;
    transform: rotate(90deg);
}
.over_modul:hover .modul_card__top_right__img img {
    transform: rotate(135deg);
    transition: .2s;
}
.last_mobile_block {
    display: none;
}
.modul_card_mobile__block {
    display: none;
}

@media (max-width: 960px){
    .wrapper_over_modul {
        display: none;
    }

    .last_mobile_block {
        margin-top: -5vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: var(--padding-24_mob);
        background-color: var(--color-pure_white);
        border-radius: 14px;
    }
    .last_mobile_block > article{
        font-size: var(--font-size20_mob);
        width: calc(100% - 7.1vw);
        font-family: g-Semibold;
    }
    .modul_card_mobile__block {
        margin-top: 2vw;
        position: relative;
        display: block ;
        border-radius: 14px;
        background-color: var(--color-pure_white);
        padding: var(--font-size24_mob);
    }
    .modul_card_mobile__block p {
        font-family: g-Semibold;
        font-size: var(--font-size24_mob);
    }
    .modul_card_mobile__block article {
        margin-top: 3vw;
        font-family: g-medium;
        font-size: var(--font-size16_mob);
        text-decoration: underline;
    }
    .modul_card_mobile__block img {
        position: absolute;
        right: 5.45vw;
        width: 10.6vw;
        height: 10.6vw;
        top: calc(50% - 5.3vw);
    }
}