.wrapper_h2_product {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-top: 5vw;
}
.wrapper_h2_product h2 {
    font-family: g-Semibold;
    font-size: var(--font-size56);
}
.wrapper_h2_product p {
    font-size: var(--font-size24);
}
@media (max-width: 960px){
    .wrapper_h2_product {
        display: block;
        margin-top: 5vw;
    }
    .wrapper_h2_product h2 {
        font-size: var(--font-size24_mob);
    }
    .wrapper_h2_product p {
        font-size: var(--font-size16_mob);
        margin-top: 2vw;
        width: 65%;
    }
}

.wrapper_closet_production {
    margin-top: .5vw;
    display: flex;
    justify-content: space-between;
}
.closet_production__img{
    width: 47.5%;
}
.closet_production__img img {
    width: 100%;
    display: block;
    margin: 0;
}
.closet_production__text {
    width: 52%;
    background-color: var(--color-100grey);
    border: 1px solid var(--color-300grey);
    border-radius: 16px;
    padding: var(--padding-32);
}
.closet_production__text > p {
    font-size: var(--font-size24);
}

.closet_production__text__accordeon {
    margin-top: 3vw;
}
.production__text__accordeon__top {
    background-color: var(--color-pure_white);
    border-radius: 16px;
    padding: var(--padding-32);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.accordeon__red {
    width: .833vw;
    height: .833vw;
    border-radius: 50%;
    background-color: var(--color-300primary);
}
.production__text__accordeon__top p {
    font-size: var(--font-size24);
    width: calc(100% - 5vw);
}
.production__text__accordeon__top img {
    width: .833vw;
}
.production__text__accordeon__top img.active {
    transform: rotate(180deg);
    transition: .2s;
}
.production__text__accordeon__elem {
    display: none;
    margin-top: .5vw;
    background-color: var(--color-pure_white);
    border-radius: 16px;
    padding: var(--padding-32);
    font-size: var(--font-size20);
}
.production__text__accordeon__elem.active {
    display: block;
}
.production__text__accordeon__elem img {
        display: none;
    }
@media (max-width: 960px){
    .wrapper_closet_production {
        margin-top: 2vw;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }
    .closet_production__img {
        order: -2;
        width: 100%;
    }
    .closet_production__text {
        margin-top: 2vw;
        width: 100%;
        padding: var(--padding-24_mob);
    }
    .closet_production__text > p {
        font-size: var(--font-size16_mob);
    }

    .closet_production__text__accordeon {
        margin-top: 7vw;
    }
    .production__text__accordeon__top {
        border-radius: 14px;
        padding: var(--padding-24_mob);
    }
    .accordeon__red {
        width: 3.63vw;
        height: 3.63vw;
    }
    .production__text__accordeon__top p {
        font-size: var(--font-size16_mob);
        width: calc(100% - 11vw);
    }
    .production__text__accordeon__top img {
        width: 3.63vw;
    }
    .production__text__accordeon__elem {
        margin-top: 2vw;
        background-color: var(--color-pure_white);
        border-radius: 14px;
        padding: var(--padding-24_mob);
        display: none;
        align-items: center;
        justify-content: space-between;
        font-size: var(--font-size16_mob);
    }
    .production__text__accordeon__elem.active {
        display: flex;
    }
    .production__text__accordeon__elem img {
        display: block;
        width: 3.18vw;
    }
    .production__text__accordeon__elem p {
        width: calc(100% - 8vw);
    }
}

.closet_production__img__block {
    margin-top: .5vw;
    border-radius: 24px;
    padding: var(--padding-32);
    background-color: var(--color-500primary);
    color: var(--color-pure_white);
    font-size: var(--font-size24);
    font-family: g-medium;
}
@media (max-width: 960px){
    .closet_production__img__block {
        margin-top: 2vw;
        border-radius: 14px;
        padding: var(--padding-24_mob);
        font-size: var(--font-size16_mob);
    }
}


/* production3 */
.wrapper_production3 {
    margin-top: .5vw;
    display: flex;
    justify-content: space-between;
}
.production3__stick {
    width: 41%;
}
.production3__content {
    width: 58.5%;
}
.sticky_block {
    width: 100%;
    position: sticky;
    top: 100px;
    background-color: var(--color-pure_white);
    border-radius: 20px;
}
.sticky_block__top {
    padding: var(--padding-32);
    border-bottom: 1px solid var(--color-400grey);
    font-family: g-Semibold;
    font-size: var(--font-size32);
}
.sticky_block__top > p {
    width: 55%;
}
.wrapper__sticky_block__elem {
    padding-bottom: var(--padding-32);
}
.sticky_block__elem {
    margin: 2vw 0;
    display: flex;
    align-items: center;
    padding: var(--padding-10) var(--padding-24);
    font-family: g-medium;
    font-size: var(--font-size24);
    border-left: 4px solid var(--color-pure_white);
    cursor: pointer;
}
.sticky_block__elem__red {
    width: .833vw;
    height: .833vw;
    margin-right: 1.5vw;
    border-radius: 50%;
    background-color: var(--color-600grey);
}
.sticky_block__elem p {
    width: calc(100% - 3vw);
}
.sticky_block__elem.active {
    border-left: 4px solid var(--color-300primary);
}
.sticky_block__elem.active .sticky_block__elem__red {
    background-color: var(--color-300primary);
}

.production3__content__img {
    position: relative;
}
.production3__content__img > img {
    display: block;
    margin: 0;
    width: 100%;
}
.production3__content__img__block {
    position: absolute;
    width: 96%;
    left: 2%;
    top: 4%;
    background-color: var(--color-pure_white);
    border-radius: 20px;
    padding: var(--padding-32);
    display: flex;
    align-items: center;
    font-size: var(--font-size24);
}
.red_elem {
    width: 1.25vw;
    height: 1.25vw;
    border-radius: 50%;
    background-color: var(--color-300primary);
    margin-right: 1vw;
}

.production3__content__text {
    margin-top: .5vw;
    border-radius: 20px;
    background-color: var(--color-pure_white);
    padding: var(--padding-32);
}
.production3__content__text p span {
    font-family: g-Semibold;
}
.production3__content__text__block {
    border-radius: 16px;
    border: 1px solid var(--color-400grey);
    padding: var(--padding-32);
    font-size: var(--font-size24);
}
.production3__content__text__accord {
    margin-top: 1vw;
    display: flex;
    justify-content: space-between;
    border-radius: 16px;
    border: 1px solid var(--color-400grey);
    padding: var(--padding-32);
    font-size: var(--font-size24);
    font-family: g-Semibold;
    cursor: pointer;
}
.production3__content__text__accord img {
    width: .833vw;
}
.production3__content__text__accord img.active {
    transform: rotate(180deg);
    transition: .2s;
}
.production3__content__text__elements > p {
    display: none;
    margin-top: 1vw;
    border-radius: 16px;
    border: 1px solid var(--color-400grey);
    padding: var(--padding-32);
    font-size: var(--font-size24);
}
.production3__content__text__elements > p.active {
    display: block;
}
.img_block_margin {
    margin-top: 2vw;
}
.big_accordeon_mobile {
    display: none;
}
.download_block {
    position: absolute;
    width: 96%;
    left: 2%;
    bottom: 4%;
    background-color: var(--color-500primary);
    color: var(--color-pure_white);
    border-radius: 20px;
    padding: var(--padding-10) var(--padding-32);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--font-size24);
    cursor: pointer;
}
.download_block img {
    width: 3.64vw;
    height: 3.64vw;
}
@media (max-width: 960px){
    .wrapper_production3 {
        margin-top: 2vw;
        display: block;
    }
    .production3__stick {
        display: none;
    }
    .production3__content {
        width: 100%;
    }
    .production3__content__img > img {
        display: none;
    }
    .production3__content__img > img.active {
        display: block;
        margin: 2vw 5%;
        width: 90%;
    }
    .production3__content__img__block {
        display: none;
    }
    .production3__content__img__block {
        position: relative;
        width: 100%;
        left: 0%;
        top: 0%;
        background-color: var(--color-pure_white);
        border-radius: 20px;
        padding: var(--padding-24_mob);
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: var(--font-size20_mob);
        font-family: g-Semibold;
    }
    .red_elem {
        width: 4.54vw;
        height: 4.54vw;
        margin-right: 4vw;
    }
    .big_accordeon_mobile {
        display: block;
        width: 4.54vw;
    }
    .big_accordeon_mobile.active {
        transform: rotate(180deg);
        transition: .2s;
    }
    .production3__content__img__block p {
        width: calc(100% - 15vw);
    }

    .production3__content__text {
        display: none;
        margin-top: 2vw;
        border-radius: 20px;
        background-color: var(--color-pure_white);
        padding: var(--padding-24_mob);
    }
    .production3__content__text.active {
        display: block;
    }
    .production3__content__text p span {
        font-family: g-Semibold;
    }
    .production3__content__text__block {
        border-radius: 20px;
        border: 1px solid var(--color-300grey);
        padding: var(--padding-24_mob);
        font-size: var(--font-size16_mob);
    }
    .production3__content__text__accord {
        margin-top: 2vw;
        display: flex;
        justify-content: space-between;
        border-radius: 14px;
        border: 1px solid var(--color-300grey);
        padding: var(--padding-24_mob);
        font-size: var(--font-size16_mob);
        font-family: g-reg;
    }
    .production3__content__text__accord img {
        width: 3.63vw;
    }
    .production3__content__text__accord p {
        width: calc(100% - 5vw);
    }
    .production3__content__text__elements > p {
        display: none;
        margin-top: 1vw;
        border-radius: 14px;
        border: 1px solid var(--color-300grey);
        padding: var(--padding-24_mob);
        font-size: var(--font-size16_mob);
    }
    .production3__content__text__elements > p.active {
        display: block;
    }
    .img_block_margin {
        margin-top: 2vw;
    }
    .download_block {
        display: none;
        position: relative;
        width: 90%;
        left: 0%;
        bottom: 0%;
        margin: 0 5%;
        background-color: var(--color-500primary);
        color: var(--color-pure_white);
        border-radius: 14px;
        padding: var(--padding-10_mob) var(--padding-24_mob);
        font-size: var(--font-size16_mob);
    }
    .download_block img {
        width: 7.72vw;
        height: 7.72vw;
    }
    .download_block.active {
        display: flex;
    }
}


/* production4 */
.wrapper_house_top {
    margin-top: .5vw;
    display: flex;
    justify-content: space-between;
}
.wrapper_house_top__text {
    width: 43%;
    border-radius: 20px;
    border: 1px solid var(--color-400grey);
    padding: var(--padding-32);
}
.wrapper_house_top__text > p {
    font-size: var(--font-size24);
    margin-bottom: 4.5vw;
}
.section_download,.section_videopreze {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 18px;
    background-color: var(--color-500primary);
    color: var(--color-pure_white);
    padding: .3vw var(--padding-32);
    font-size: var(--font-size24);
    cursor: pointer;
}
.section_download img,
.section_videopreze img {
    width: 3.64vw;
    height: 3.64vw;
}
.section_videopreze {
    margin-top: .5vw;
}
.section_videopreze img {
    transform: rotate(90deg);
}
.wrapper_house_top__img {
    width: 56.5%;
}
.wrapper_house_top__img img {
    width: 100%;
    display: block;
    margin: 0;
}
@media (max-width: 960px){
    .wrapper_house_top {
        margin-top: 2vw;
        display: flex;
        flex-direction: column;
    }
    .wrapper_house_top__text {
        margin-top: 2vw;
        width: 100%;
        border: 1px solid var(--color-300grey);
        padding: var(--padding-24_mob);
    }
    .wrapper_house_top__text > p {
        font-size: var(--font-size16_mob);
        margin-bottom: 9vw;
    }
    .section_download,.section_videopreze {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 10px;
        padding: 1.5vw var(--padding-16_mob);
        font-size: var(--font-size12_mob);
    }
    .section_download img,
    .section_videopreze img {
        width: 7.72vw;
        height: 7.72vw;
    }
    .section_videopreze {
        margin-top: 1.5vw;
    }
    .wrapper_house_top__img {
        width: 100%;
        order: -2;
    }
    .wrapper_house_top__img img {
        width: 100%;
        display: block;
        margin: 0;
    }
}
.wrapper_modul_card {
    margin-top: .5vw;
    display: flex;
    justify-content: space-between;
}
.modul_card {
    width: 22%;
    height: 33vw;
    border-radius: 24px;
    padding: var(--padding-32);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--color-pure_white);
    transition: width .2s ease-in;
}
.modul_card.active {
    width: 56%;
}
.modul_card__top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.modul_card__top_left p {
    font-size: var(--font-size20);
}
.modul_card__top_left article {
    font-family: g-Semibold;
    font-size: 3.64vw;
}
.modul_card__top_right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
}
.modul_card__top_right p {
    font-size: 0;
}
.modul_card__top_right__img {
    width: 2.4vw;
    height: 2.4vw;
    border-radius: 50%;
    margin-left: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid var(--color-pure_white);
}
.modul_card__top_right__img img {
    display: block;
    margin: auto;
    width: 40%;
    transform: rotate(90deg);
}

.modul_card__bottom {
    font-size: var(--font-size24);
    opacity: 0;
}
.modul_card.active .modul_card__bottom{       
    opacity: 1;
    transition: opacity .2s .2s;
}
.modul_card.active .modul_card__top_right p {
    font-size: var(--font-size20);
    transition: .2s;
}
.modul_card32 .modul_card__top_right__img {
    border: 1px solid var(--color-600grey);
}


.modul_card32 .modul_card__top_right__img img {
    filter: invert(58%) sepia(2%) saturate(19%) hue-rotate(61deg) brightness(94%) contrast(79%);
}
.modul_card32 .modul_card__top_right:hover .modul_card__top_right__img {
    background-color: var(--color-text);
    border: none;
}
.modul_card32 .modul_card__top_right:hover .modul_card__top_right__img img {
    filter: none;
    transform: rotate(135deg);
}
.modul_card45 .modul_card__top_right__img img {
    filter: none;
}
.modul_card45 .modul_card__top_right:hover .modul_card__top_right__img {
    background-color: var(--color-pure_white);
    border: none;
}
.modul_card45 .modul_card__top_right:hover .modul_card__top_right__img img {
    filter: invert(26%) sepia(90%) saturate(9224%) hue-rotate(339deg) brightness(77%) contrast(123%);
    transform: rotate(135deg);
}
.modul_card63 .modul_card__top_right__img img {
    filter: none;
}
.modul_card63 .modul_card__top_right:hover .modul_card__top_right__img {
    background-color: var(--color-pure_white);
    border: none;
}
.modul_card63 .modul_card__top_right:hover .modul_card__top_right__img img {
    filter: invert(26%) sepia(90%) saturate(9224%) hue-rotate(339deg) brightness(77%) contrast(123%);
    transform: rotate(135deg);
}

.modul_card32 {
    background-color: var(--color-pure_white);
    color: var(--color-text);
}
.modul_card45 {
    background-color: var(--color-300primary);
}
.modul_card63 {
    background-color: var(--color-600primary);
}
.wrapper_modul_card_mobile {
    display: none;
}
@media (max-width: 960px){
    .wrapper_modul_card {
        display: none;
    }
    .wrapper_modul_card_mobile {
        display: block;
        margin-top: 2vw;
    }
    .modul_card_mobile__block {
        margin-top: 2vw;
        position: relative;
        display: block ;
        border-radius: 14px;
        background-color: var(--color-pure_white);
        padding: var(--font-size24_mob);
    }
    .modul_card_mobile__block p {
        font-family: g-Semibold;
        font-size: var(--font-size24_mob);
    }
    .modul_card_mobile__block article {
        margin-top: 3vw;
        font-family: g-medium;
        font-size: var(--font-size16_mob);
        text-decoration: underline;
    }
    .modul_card_mobile__block img {
        position: absolute;
        right: 5.45vw;
        width: 10.6vw;
        height: 10.6vw;
        top: calc(50% - 5.3vw);
    }
}

.modul_eco_sistem {
    margin-top: .5vw;
    background-color: var(--color-pure_white);
    border-radius: 20px;
    padding: var(--padding-32);
}
.modul_eco_sistem__elem {
    display: flex;
    align-items: center;
}
.sistem__elem__red {
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    background-color: var(--color-300primary);
    margin-right: 1vw;
}
.modul_eco_sistem article {
    font-size: var(--font-size24);
}
.modul_eco_sistem p {
    margin-top: 8.5vw;
    font-family: g-Semibold; 
    font-size: var(--font-size56);
}
.img_modul_acc {
    display: none;
}
@media (max-width: 960px){
    .modul_eco_sistem {
        margin-top: 2vw;
        background-color: var(--color-pure_white);
        border-radius: 14px;
        padding: var(--padding-24_mob);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .modul_eco_sistem__elem {
        display: block;
    }
    .sistem__elem__red {
        width: 3.63vw;
        height: 3.63vw;
        border-radius: 50%;
        background-color: var(--color-300primary);
        margin-right: 0vw;
    }
    .modul_eco_sistem article {
        display: none;
    }
    .modul_eco_sistem p {
        margin-top: 0vw;
        font-family: g-Semibold; 
        font-size: var(--font-size20_mob);
        width: calc(100% - 15vw);
    }
    .img_modul_acc {
        display: block;
        width: 3.63vw;
    }
    .img_modul_acc.active {
        transform: rotate(180deg);
        transition: .2s;
    }
}

.modul_accordeon {
    margin-top: .5vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.modul_accordeon__elem {
    margin-bottom: .5vw;
    width: 49.75%;
    background-color: var(--color-pure_white);
    border-radius: 20px;
    padding: var(--padding-32);
    display: flex;
    align-items: center;
}
.modul_accordeon__elem img {
    width: .833vw;
    margin-right: 1vw;
}
.modul_accordeon__elem p {
    font-size: var(--font-size24);
    width: calc(100% - 2vw);
}


@media (max-width: 960px){
    .modul_accordeon {
        margin-top: 2vw;
        display: none;
    }
    .modul_accordeon.active {
        display: block;
    }
    .modul_accordeon__elem {
        margin-bottom: 2vw;
        width: 100%;
        background-color: var(--color-pure_white);
        border-radius: 20px;
        padding: var(--padding-24_mob);
    }
    .modul_accordeon__elem img {
        width: 3vw;
        margin-right: 3vw;
    }
    .modul_accordeon__elem p {
        font-size: var(--font-size16_mob);
        font-family: g-Semibold;
        width: calc(100% - 7vw);
    }
}

.modul_contact {
    margin-top: .5vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.modul_contact__text {
    width: 49.75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--padding-32);
    border-radius: 20px;
    border: 1px solid var(--color-400grey);
}
.modul_contact__text__elem {
    display: flex;
    align-items: center;
}
.modul_contact__text__elem article{
    font-size: var(--font-size24);
}
.modul_contact__text p {
    font-size: var(--font-size24);
}
.modul_contact__img {
    width: 49.75%;
}
.modul_contact__img img {
    width: 100%;
    display: block;
    margin: 0;
}
@media (max-width: 960px){
    .modul_contact {
        margin-top: 2vw;
        display: block;
    }
    .modul_contact__text {
        width: 100%;
        display: block;
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
        border-radius: 0px;
        border: none;
    }
    .modul_contact__text__elem {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 14px;
        background-color: var(--color-pure_white);
        padding: var(--padding-24_mob);
    }
    .modul_contact__text__elem article{
        font-family: g-Semibold;
        font-size: var(--font-size20_mob);
        width: calc(100% - 12vw);
    }
    .modul_contact__text p {
        display: none;
        margin-top: 2vw;
        font-size: var(--font-size16_mob);
        border-radius: 14px;
        background-color: var(--color-pure_white);
        padding: var(--padding-24_mob);
    }
    .modul_contact__text p.active {
        display: block;
    }
    .modul_contact__img {
        display: none;
    }
}


/* production5 */
.production3__content__dop_img {
    display: none;
}
.production3__content__dop_block {
    font-size: var(--font-size24);
    border-radius: 20px;
    border: 1px solid var(--color-400grey);
    padding: var(--padding-32);
    margin-bottom: 2vw;
}
@media (max-width: 960px){
    .production3__content__dop_img {
        display: block;
        margin: 2vw 0;
        width: 100%;
    }
    .production3__content__dop_block {
        font-size: var(--font-size16_mob);
        border-radius: 20px;
        border: 1px solid var(--color-300grey);
        padding: var(--padding-24_mob);
        margin-bottom: 2vw;
    }
}
/* production6 */
.closet_production__text__accordeon.minus_margin {
    margin-top: 1.5vw;
}
.production6__block {
    margin: .5vw 0 0 0;
    display: flex;
    align-items: center;
    border-radius: 24px;
    background-color: var(--color-pure_white);
    padding: var(--padding-32);
    font-size: var(--font-size24);
}
.production6__block p span {
    font-family: g-Semibold;
}
.production6__block img {
    width: .833vw;
    margin-right: 1vw;
}
.production6__block p {
    width: calc(100% - 2vw);
}
.production6__block:nth-child(2) {
    margin-top: 1.5vw;
}
@media (max-width: 960px){
    .closet_production__text__accordeon.minus_margin {
        margin-top: 7vw;
    }
    .production6__block {
        margin: 2vw 0 0 0;
        display: flex;
        align-items: center;
        border-radius: 14px;
        padding: var(--padding-24_mob);
        font-size: var(--font-size16_mob);
    }
    .production6__block:nth-child(2) {
        margin-top: 7vw;
    }
    .production6__block p span {
        font-family: g-Semibold;
    }
    .production6__block img {
        width: 3.1vw;
        margin-right: 3vw;
    }
    .production6__block p {
        width: calc(100% - 7vw);
    }
}