.partners__carousel {
  --item-width: 25vw;

  display: flex;
  flex-direction: column;
  width: calc(100% - 20px);

  gap: min(24px, 1.56vw);
  overflow-x: hidden;
}

.customers--left,
.customers--right {
  --items-count: 7;
}

.partners--left,
.partners--right {
  --items-count: 9;
}

.partners--left:last-of-type {
  --items-count: 8;
}

.partners__c {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: max-content;
}

.partners__c--left {
  display: flex;
  width: max-content;
  animation: slideLeft 60s infinite linear;
}

.partners__c--right {
  display: flex;
  width: max-content;
  animation: slideRight 60s infinite linear;
  margin-left: calc(var(--item-width) * 4);
}

.partners__c__block {
  width: var(--item-width);
  height: 314px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
  }
}

@keyframes slideLeft {
  0% {
    margin-left: calc(var(--item-width) * 4);
  }
  100% {
    margin-left: calc(
      var(--items-count) * -1 * var(--item-width) -
        (5px * (var(--items-count) - 1))
    );
  }
}

@keyframes slideRight {
  0% {
    margin-left: calc(
      var(--items-count) * -1 * var(--item-width) -
        (5px * (var(--items-count) - 1))
    ) !important;
  }
  100% {
    margin-left: calc(var(--item-width) * 4) !important;
  }
}
