@import "./carousel.css";

.partners {
  display: flex;
  flex-direction: column;
  gap: min(24px, 1.56vw);

  width: 100%;
  padding: 0 10px;
  padding-bottom: min(24px, 1.56vw);
}

.partners__container {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.partners__tabs {
  margin-left: 48px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.partners__tab {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;

  padding: min(16px, 1.04vw) min(57px, 3.7vw);

  border-radius: 16px 16px 0 0;
  background-color: #eee;

  /* Text */
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  color: var(--special-colors-text-color);
  /*  */

  &::before {
    content: "";
    width: 24px;
    height: 24px;
    background-color: var(--primary-red-regular-300, #d30024);
    border-radius: 50%;
  }

  &.active {
    background-color: var(--gray-pure-white, #fff);
  }
}

.partners__title {
  background-color: var(--gray-pure-white, #fff);
  padding: min(60px, 3.9vw) min(5.2vw, 40px);

  border-radius: 20px;

  h3 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 56px;
    line-height: 98%;
    letter-spacing: -0.04em;
    color: var(--gray-black);
  }
}
